h1 {
  margin-left: 20%;
}

button {
  margin-left: 20%;
}

#grid {
  margin-left: 20%;
}

td {
  width: 30px;
  height: 30px;
}

body {
  background-color: white;
}

td:first-child {
  border-left:solid;
}

td:nth-child(3n) {
  border-right:solid ;
}

tr:first-child {
  border-top:solid;
}

tr:nth-child(3n) td {
  border-bottom:solid ;
}

/* .centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
} */